
@font-face {
    font-family: "Source Sans Pro";
    src: url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOHJdKliW2M9IhUT0esa8kM.woff") format('woff');
}


#about_section {
/*    background-color: #FFB7CF;*/
/*    border: 1px black solid;*/
/*    padding: 20px;*/
}


#about_pic {
    display: block;
    clear: both;
    float: left;
    width: 30%;
    padding: 1.5% 1%;

/*    background-color: violet;*/
/*    border: 1px black solid;*/
/*    padding: 20px;*/
    
}

#about_pic img {
    
    width: 100%;
    
}

#bio {
    display: inline-block;
    margin-left: 2em;
    margin-top: 1%;
    
    text-align: left;
    max-width: 630px;
    
    /*    font-family: Palatino;*/
    font-family: "Slabo 27px", "Times New Roman", serif;
    
/*    background-color: pink;*/
/*    border: 1px black solid;*/
/*    padding: 20px;*/

    width: 62%;
}

#bio h3 {
    font-size: 24px;
    border-bottom: 1px solid black;
    
    line-height: 1.5em;
    letter-spacing: 2px;
    font-weight: 500;
    
}

#bio p {
    line-height: 1.7em;
    word-spacing: .1em;
    font-size: 16px;
    
}


/************************************************/
/************************************************/
/************************************************/
/************************************************/

/*LANDSCAPE MODE*/
@media only screen and (max-width: 740px) {
    
    #about_pic {
        width: 37%;
        margin: 0 3% 2% 0;
        
        padding: 1%;
        
    }
    
    #bio {
        width: 47%;
        margin: 0 1%;
        
    }
    
    #bio h3{
        font-size: 20px;
    }
    
    #bio p {
        font-size: 15px;
    }
    
}


/*PORTRAIT MODE*/
@media only screen and (max-width: 490px) {
 
 #about_pic {
     float: none;
     width: 95%;
     margin: 2%;
     
 }
 
 #bio {
     width: 80%;
     margin: 0 1em;
 }
 
 #bio p {
     font-size: 14px;
 }
 
}


























