

@font-face {
    font-family: "Source Sans Pro";
    src: url("https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGOHJdKliW2M9IhUT0esa8kM.woff") format('woff');
}


body {
    
    background-color:#f2f2f2;
}


.wrapper{

    
}

header {
    
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    
    float: left;
    
    height: 2em;
    width: 20em;

}

.name_logo {

    margin-left: 1em;
/*    padding: 2%;*/
    width: 15em;

}


.nav {
    
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;

    height: 2em;

    padding-right: 3em;
    font-family: Palatino;

}

.nav a {
    
/*    background-color: #E8C66A;*/
/*    border: 1px black solid;*/
/*    padding: 20px;*/

    float: right;
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
    
    font-size: 12px;
    
    margin-top: .5em;
    padding: .7em;
    letter-spacing: 1px;

}

.nav a:hover {

    color: #066006;
/*    color: black;*/
}


/* HOME PAGE IMAGE AND QUOTE */
/* HOME PAGE IMAGE AND QUOTE */
/* HOME PAGE IMAGE AND QUOTE */
.home {
    
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    
    
/*    font-family:"Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;*/
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 200;
    font-size: 1.6rem;
    
    clear: left;
    
}

.home img {
    width: 100%;
    height: 100%;
    text-align: center;
/*    right: 0;*/
/*    left: 0;*/

}

.home a{
    display: block;
    background-color: white;
    padding: 4%;
    text-align: center;
    opacity: .7;
    
    width: 52%;
/*    height: 30%;*/
    top: 44%;
    left: 22%;

    position: absolute;
    overflow: auto;
    
}

.home p {
    
    font-style: italic;
    font-size: 18px;
    line-height: 1.5em;
/*    word-spacing: 1px;*/

    margin: 1.3em 2em;

}

.home x{
/*    font-family: Palatino;*/
    font-family: "Slabo 27px", "Times New Roman", serif;
    font-size: 32px;
    font-weight: bold;
    
    letter-spacing: 3px;

}


/* FOOTER + SOCIAL MEDIA ICONS */
/* FOOTER + SOCIAL MEDIA ICONS */
/* FOOTER + SOCIAL MEDIA ICONS */

.copyright {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 80%;
    color: gray;
    text-align: left;
    padding: 8px;
    
    /*    overflow: auto;*/
    float: left;
    
}

footer {
    
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
    
}

.icons {
    display: block;

    padding-top: 25px;

    text-align: right;
    padding-right: 50px;
    padding-left: 20px;
    padding-bottom: 10px;
    
}


.icons a{
    padding: 8px;
    
    font-size: 26px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

/*    background: #01aa01;*/
    background: #f2f2f2;
    color: gray;

    display: inline;
    line-height: 10%;
/*    position: absolute;*/

}


.icons a:hover {
    color: #066006;
}






































